body {
	font-family: sans-serif;
	text-align: center;
	font-weight: lighter;

}

h1, h3 {
	font-weight: lighter !important;
}

.headerLink.active {
	color: magenta;
}

.header {
	margin-bottom: 38px;
}

.headerLink {
	color: #000;
	margin: 0 30px;
	text-decoration: none;
}

.portraitImage {
	display: inline-block;
	margin-right: 18px;
	vertical-align: top;
	width: 400px;
}

.socialIcon {
	margin: 0 32px;
}

.socialIconsWrapper {
	margin: 64px 0;
}

.bioText {
	display: inline-block;
	margin-top: 0;
	width: 260px;
}