body {
	font-family: sans-serif;
	text-align: center;

}

h1 {
	font-weight: lighter !important;
}

.header {
	margin-bottom: 38px;
}

.headerLink {
	color: #000;
	margin: 0 30px;
	text-decoration: none;
}