body {
	font-family: sans-serif;
	text-align: center;
	font-weight: lighter;

}

h1 {
	font-weight: lighter !important;
}

.header {
	margin-bottom: 38px;
}

.headerLink {
	color: #000;
	margin: 0 30px;
	text-decoration: none;
}

.portraitImage {
	display: inline-block;
	margin-right: 18px;
	vertical-align: top;
	width: 400px;
}

.bioText {
	display: inline-block;
	margin-top: 0;
	width: 260px;
}